
.headline{
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.byline{
  font-size: 1.5em;
  font-weight:700;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.intro{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  max-width:800px;
  text-align: center;
  line-height: 180%;
  margin-top: 25px;
  margin-bottom:25px;
}

.text{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  max-width:800px;
  text-align: left;
  line-height: 180%;
  margin-top: 25px;
  margin-bottom:25px;
}

.footer{
  font-family: 'Montserrat', sans-serif;
  height:100px;
  padding:25px;
  text-align:center;
  color: #fff;
  background-color: #000;
}

#logo{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 1.25em;

}

#chapterhead{
  font-size: 2em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  padding-top: 20px;
  width:100%;
}

.caption{
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

a:link .nav-link{
  text-decoration: none;
  color:#e0162b;
}
a:hover .nav-link{
  color:#0052a5;
}
a:visited .nav-link{
  color:#999;
}

.bg-dark {
 background:#000 !important;
}

.navbar {
 font-family: 'Montserrat', sans-serif;
}

ul.navbar-nav{
  margin-left:50%;
}

.red {
 color: #e0162b;
}

.blue {
 color: #0052a5;
}

.hero-image{
  width:100%;
  max-width:900px;
}
.stack-image{
width:100%;
max-width:900px;
margin:0 auto;
padding-top:30px;
}


.graphic-container {
 padding-top:30px;
 padding-bottom:30px;
 border-top:1px solid #cdcdcd;
 border-bottom:1px solid #cdcdcd;
 font-family: 'Montserrat', sans-serif;
 margin:0 auto;
}
