.navbar{
  font-family: 'Quicksand', sans-serif;
}

#logo{
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  font-size: 1.25em;
}

#headline{
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
  text-align: center;
}
#sectionhead{
  font-family: 'Quicksand', sans-serif;
  font-weight:bold;
  font-size: 3em;
  text-align: center;
  color: #96cf59;

}
#byline{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25em;
  font-style: italic;
  text-align: center;
}
#byline2{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25em;
  font-style: italic;
  text-align: center;
  color: #fff;
  font-weight:bold;
}
#explain{
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
}
#outsidesource{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.15em;
  font-style: italic;
  text-align: center;
}
.solar-image{
  width:100%;
  max-width:900px;
}
a:link{
color:#7D94FF;
text-decoration:none;
}
a:hover{
  color: #96cf59;
  text-decoration:underline;
}
#course{
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
  text-align: center;
  color: #fff;
  font-weight:bold;
}
.col-md-4{
  background:#7D94FF;
  border-style: solid;
  border-color: #fff;
  border-width: thick;
  padding: 10px;
}
#courseid{
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  text-align:center;
  color:#fff;
